// Background color

.for(
    @colorsValues,
    {// Generating border-color
      .bg-@{value} {background-color: @@value;}}
  )
  ;;

/* prettier-ignore */
.for(
    @colorsValues,
    {
      .hover\:bg-@{value}:hover {
        background-color: @@value;
      }
});

.bg-transparent {
  background-color: transparent;
}

.bg-dark {
  background-color: @dark;
}

.bg-white {
  background-color: white;
}

.hover\:bg-dark:hover {
  background-color: @dark;
}

.bg-blue-dark {
  background-color: @dark-blue;
}

.bg-blue-darkest {
  background-color: @darkest-blue;
}

.hover\:bg-blue-dark:hover {
  background-color: @dark;
}

.bg-teal {
  background-color: @teal;
}

.bg-teal-2 {
  background-color: @teal-2;
}

.hover\:bg-teal:hover {
  background-color: @teal;
}

.bg-teal-3 {
  background-color: @teal-3;
}

.bg-teal-4 {
  background-color: @teal-4;
}

.bg-grey {
  background-color: @grey;
}

.hover\:bg-grey:hover {
  background-color: @grey;
}

.bg-grey-2 {
  background-color: @grey-2;
}

.hover\:bg-grey-2:hover {
  background-color: @grey-2;
}

.bg-grey-3 {
  background-color: @grey-3;
}

.bg-grey-4 {
  background-color: @grey-4;
}

.bg-grey-5 {
  background-color: @grey-5;
}

.hover\:bg-grey-5:hover {
  background-color: @grey-5;
}

.bg-red {
  background-color: @red;
}

@salmon : #ffe7e5;
@green : #ddf1e6;
@blue : #d9e5ef;
@orange :#fff1de;

.bg-salmon {
  background-color: @salmon;
}

.bg-dark-salmon {
  background-color: darken(@salmon, 20%);
}

.bg-green {
  background-color: @green;
}

.bg-dark-green {
  background-color: darken(@green, 20%);
}

.bg-blue {
  background-color: @blue;
}

.bg-dark-blue {
  background-color: darken(@blue, 20%);
}

.bg-orange {
  background-color: @orange;
}

.bg-dark-orange {
  background-color: darken(@orange, 20%);
}
