.border-width-generator(10);

.border-width-generator(@counter) when (@counter >= 0) {
  .border-width-generator((@counter - 1));
  .bw-@{counter} {
    border-width: @counter*1px;
  }

  .bt-w-@{counter} {
    border-top-width: @counter*1px;
  }
  .bl-w-@{counter} {
    border-left-width: @counter*1px;
  }
  .br-w-@{counter} {
    border-right-width: @counter*1px;
  }
  .bb-w-@{counter} {
    border-bottom-width: @counter*1px;
  }
}

/* prettier-ignore */
.for(
    @colorsValues,
    {// Generating border-color
      .bc-@{value} {border-color: @@value;}
      .hover\:bc-@{value}:hover {border-color: @@value;}
    }
  )
  ;

.no-border {
  border: none;
}

.bt-0 {
  border-top: none;
}

.bb-0 {
  border-bottom: none;
}

.bl-0 {
  border-left: none;
}

.bs-solid {
  border-style: solid;
}

.bs-dashed {
  border-style: dashed;
}

.border-0 {
  border: none;
}

.border-grey {
  border: solid 1px @grey;
}

.border-right-grey {
  border-right: solid 1px @grey;
}

.border-left-white {
  border-left: solid 1px white;
}

.border-right-grey-2 {
  border-right: solid 1px @grey-2;
}

.border-top-grey-2 {
  border-top: solid 1px @grey-2;
}

.active\:border-bottom-teal.active {
  .border-bottom-teal;
}

.border-bottom-teal {
  position: relative;
  &:after {
    content: "";
    position: absolute;

    left: 10%;
    bottom: -10px;

    height: 2px;
    width: 80%;
    background-color: @teal;
  }
}

.border-blue-dark {
  border: solid 1px @dark-blue;
}

.border-grey-2 {
  border: solid 1px @grey-2;
}

.border-grey-3 {
  border: solid 1px @grey-3;
}

.hover\:border-grey-3:hover {
  .border-grey-3;
}

.border-transparent {
  border: solid 1px transparent;
}

.border-grey-5 {
  border: solid 1px @grey-5;
}

.border-teal-2 {
  border: solid 1px @teal-2;
}

.hover\:border-blue-dark:hover {
  border: solid 1px @dark-blue;
}

.focus\:border-grey-2:focus {
  .border-grey-2;
}

.border-bottom-grey-3 {
  border-bottom: 1px solid @grey-3;
}

@media screen and (max-width: @breakpoint-xs) {
  .bw-0-xs {
    .bw-0 !important;
  }
}
