@colorsValues: dark, grey,grey-2,yellow, green, blue, blue-dark, white, salmon, red;

@white : white;
@dark : #0b1d20;
@grey : #EDEFF5;
@grey-2 : #bbbbbb;
@yellow : #FDD129;
@green: #15D0C5;
@blue : #414872;
@blue-dark: #1D1B2E;
@salmon: #FCA29C;
@red: #de4a7d;