/* prettier-ignore */

.for(@colorsValues, {
      .text-@{value} {color: @@value;}
    });

/* prettier-ignore */
.for(
    @colorsValues,
    {
      .hover\:text-@{value}:hover {
        color: @@value;
      }
});

// font color
.text-white {
  color: white;
}